.preguntas-frecuentes {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 30px;
    margin: 50px;
  }
  
  .preguntas {
    margin: 20px;
    font-family: Poppins;
  }
  
  .respuestas {
    font-family: Poppins;
  }
  